@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  padding: 20px;
  width: 300px;
  max-height: 480px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.header.is-home {
  justify-content: center;
}
.header.is-home .header__logo {
  text-align: center;
}
.header.is-home .header__nav {
  display: none;
}
.header__back {
  font-size: 18px;
  color: #000;
  display: flex;
  transition: color 0.5s ease-in-out;
}
.header__back:hover {
  color: #1561c3;
}
.header__wrapper {
  margin-right: 10px;
}
.header__logo {
  display: flex;
  flex-direction: column;
  text-align: end;
}
.header__title {
  font-size: 20px;
  text-transform: uppercase;
}
.header__subtitle {
  font-size: 12px;
  color: #808080;
}

.page {
  display: none;
}
.page.rendered {
  display: block;
}

.form {
  display: grid;
  gap: 10px;
  margin-top: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(7, 60px);
}
.form__input {
  padding: 15px;
  border: none;
  outline: none;
  color: #000;
  font-size: 16px;
  width: 100%;
  height: 100%;
}
.form__input:active, .form__input:focus {
  outline: none;
}
.form__input--textarea {
  resize: none;
}
.form__control--description {
  grid-column: 1/-1;
  grid-row: 3/6;
}
.form__button {
  border: none;
  color: #FFF;
  height: 100%;
  cursor: pointer;
  font-size: 18px;
  width: 200px;
  border: 2px solid;
  transition-property: background-color, color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
}
.form__button:hover {
  background-color: transparent;
}

.button {
  background-color: #DCDCDC;
  display: inline-block;
  padding: 5px 0;
  width: 100%;
  border-radius: 10px;
  color: #000;
  font-size: 19px;
  text-align: center;
  border: 2px solid transparent;
  transition: border-color 0.5s ease;
}
.button--small {
  font-size: 16px;
  padding: 10px 0;
}
.button:hover {
  border-color: #1561c3;
  cursor: pointer;
}

.list {
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin-top: 15px;
  overflow-y: auto;
  max-height: 300px;
  padding-right: 5px;
}
.list::-webkit-scrollbar {
  width: 10px;
}
.list::-webkit-scrollbar-track {
  background-color: darkgrey;
}
.list::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.list__link--icon {
  position: relative;
}

.passwords__sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.passwords__title {
  font-size: 15px;
}
.passwords__sorting {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.passwords__sorting.reverse {
  flex-direction: column-reverse;
}
.passwords__sorting .rect {
  display: block;
  height: 3px;
  width: 10px;
  background-color: #000;
}
.passwords__sorting .rect:nth-child(2) {
  width: 20px;
}
.passwords__sorting .rect:nth-child(3) {
  width: 30px;
}

.tabs {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.biometrics__list {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.biometrics__title {
  font-size: 18px;
  text-align: center;
}
.biometrics__name {
  font-size: 20px;
}
.biometrics__preview {
  height: 115px;
  width: 115px;
  background-color: #C4C4C4;
  filter: blur(2px);
  border-radius: 10px;
  margin: 0 auto;
  transition: transform 0.6s ease;
}
.biometrics__preview:hover {
  transform: scale(1.1);
}
.biometrics__name {
  margin-top: 10px;
  text-align: center;
  color: #000;
  font-size: 14px;
}

.biometrics-face__preview {
  background-color: #BBBBBB;
  width: 190px;
  height: 190px;
  margin: 0 auto;
  filter: blur(2px);
  border-radius: 10px;
}
.biometrics-face__touch {
  margin: 10px auto 20px;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  display: block;
  background-color: #000;
}

.biometrics-finger__title {
  font-size: 18px;
  text-align: center;
}
.biometrics-finger__preview {
  background-color: #C4C4C4;
  border: 1px solid #000;
  filter: blur(2px);
  border-radius: 10px;
  height: 100px;
  width: 100px;
  margin: 20px auto;
}

.generate__functions {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.generate__button {
  font-size: 14px;
  width: calc(50% - 5px);
}
.generate__config {
  margin-top: 20px;
}
.generate__group {
  display: flex;
  gap: 20px;
  align-items: center;
}
.generate__label {
  font-size: 15px;
}
.generate__length {
  margin-top: 20px;
}
.generate__length-title {
  font-size: 15px;
}
.generate__slider-wrapper {
  display: flex;
}
.generate__slider-text {
  width: 40px;
  height: 25px;
  border: none;
  background-color: transparent;
  border-bottom: solid black 1px;
  text-align: center;
  margin-right: 10px;
}
.generate__slider-text:focus {
  outline: none;
}

.props {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}
.props__item {
  display: flex;
  margin-top: 12px;
}
.props__checkbox {
  width: 19px;
  height: 19px;
  margin-right: 5px;
}
.props__text {
  align-self: center;
}

.config__item {
  position: relative;
}
.config .chain {
  position: absolute;
  top: 5px;
  right: 10px;
}

.config-password__submit-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.config-password__list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 15px;
}
.config-password__label {
  font-size: 19px;
  margin-bottom: 5px;
}
.config-password__input {
  border: none;
}/*# sourceMappingURL=main.css.map */