@use '../utilities/variables';

.form {
    display: grid;
    gap: 10px;
    margin-top: 20px;
    
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 60px);

    &__input {

        padding: 15px;
        border: none;
        outline: none;
        color: variables.color();
        font-size: 16px;
        background-color: variables.color("input");
        width: 100%;
        height: 100%;

        &:active, &:focus {
            outline: none;
        }

        &--textarea {
            resize: none;
        }

    }

    &__control {
        &--description {
            grid-column: 1 / -1;
            grid-row: 3 / 6;
        }
    }

    &__button {
        background-color: variables.color('link-active');
        border: none;
        color: #FFF;
        height: 100%;
        cursor: pointer;
        font-size: 18px;
        width: 200px;
        border: 2px solid variables.color('link-active');
        transition-property: background-color, color;
        transition-timing-function: ease-in-out;
        transition-duration: .4s;

        &:hover {
            background-color: transparent;
            color: variables.color('link-active');
        }
    }
}