.biometrics-face {
    &__preview {
        background-color: #BBBBBB;
        width: 190px;
        height: 190px;
        margin: 0 auto;
        filter: blur(2px);
        border-radius: 10px;
    }

    &__touch {
        margin: 10px auto 20px;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        display: block;
        background-color: #000;
    }
}
