.biometrics-finger {
    &__title {
        font-size: 18px;
        text-align: center;
    }

    &__preview {
        background-color: #C4C4C4;
        border: 1px solid #000;
        filter: blur(2px);
        border-radius: 10px;
        height: 100px;
        width: 100px;
    
        margin: 20px auto;
    }
}