@use '../utilities/variables';

.button {
    background-color: variables.color('gray-background');
    display: inline-block;
    padding: 5px 0;
    width: 100%;
    border-radius: 10px;

    color: variables.color('dark-text');
    font-size: 19px;
    text-align: center;
    border: 2px solid transparent;

    transition: border-color .5s ease;

    &--small {
        font-size: 16px;
        padding: 10px 0;
    }

    &:hover {
        border-color: variables.color('outline');
        cursor: pointer;
    }
}