@use '../utilities/mixins';

.config {
    &__item {
        position: relative;
    }

    .chain {
        position: absolute;
        top: 5px;
        right: 10px;
    }
}

.config-password {
    &__submit-wrapper {
        @include mixins.flex-box($h: center, $gap: 10px);
    }

    &__list {
        @include mixins.flex-box($dir: column, $gap: 10px);
        margin-bottom: 15px;
    }

    &__label {
        font-size: 19px;
        margin-bottom: 5px;
    }

    &__input {
        border: none;
    }
    
}