@use '../utilities/mixins';

.generate {
    &__functions {
        @include mixins.flex-box($h: space-between);
        margin-top: 25px;
    }

    &__button {
        font-size: 14px;
        width: calc(50% - 5px);
    }

    &__config {
        margin-top: 20px;
    }

    &__group {
        @include mixins.flex-box($gap: 20px, $v: center);
    }

    &__label {
        font-size: 15px;
    }

    &__length {
        margin-top: 20px;
    }

    &__length-title {
        font-size: 15px;
    }

    &__slider-wrapper {
        @include mixins.flex-box();
    }

    &__slider-text {
        width: 40px;
        height: 25px;

        border: none;
        background-color: transparent;
        border-bottom: solid black 1px;

        text-align: center;
        margin-right: 10px;

        &:focus {
            outline: none;
        }
    }

}

.props {
    @include mixins.flex-box($h: space-between);
    margin-top: 13px;

    &__item {
        @include mixins.flex-box();
        margin-top: 12px;
    }

    &__checkbox {
        width: 19px;
        height: 19px;
        margin-right: 5px;
    }

    &__text {
        align-self: center;
    }
}