@use '../utilities/mixins';

.passwords {

    &__sort {
        @include mixins.flex-box($v: center, $h: space-between);
    }

    &__title {
        font-size: 15px;
    }

    &__sorting {
        @include mixins.flex-box($dir: column, $gap: 5px);

        &.reverse {
            flex-direction: column-reverse;
        }

        .rect {
            display: block;
            height: 3px;
            width: 10px;
            background-color: #000;
        }

        .rect:nth-child(2) {
            width: 20px;
        }

        .rect:nth-child(3) {
            width: 30px;
        }
    }

}