@use '../utilities/mixins';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Inter', sans-serif;
    padding: 20px;
    width: 300px;
    max-height: 480px;
}